<!DOCTYPE html>
<html>
<head><title>My Raffles</title></head>
<body>
    <h2>My Raffles</h2>
<!--    <ul>
        {% for raffle in raffles %}
            <li>
                <strong>{{ raffle.title }}</strong> - Draw Date: {{ raffle.draw_date }}
                - Status: {{ raffle.status }}
            </li>
        {% empty %}
            <li>No raffles created yet.</li>
        {% endfor %}
    </ul>-->
	<ul>
		{% for raffle in raffles %}
		    <li>
		        <strong>{{ raffle.title }}</strong> - Draw: {{ raffle.draw_date }} - Status: {{ raffle.status }}
		        {% if raffle.status == "draft" %}
		            <a href="{% url 'core:publish_raffle' raffle.id %}">[Publish]</a>
		        {% elif raffle.status == "published" %}
		            <a href="{% url 'core:draw_raffle' raffle.id %}">[Run Draw]</a>
		        {% endif %}
		    </li>
		{% empty %}
		    <li>No raffles created yet.</li>
		{% endfor %}
		</ul>
    <p><a href="{% url 'core:create_raffle' %}">Create new raffle</a></p>
    <p><a href="{% url 'core:dashboard' %}">Back to Dashboard</a></p>
</body>
</html>

